<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="...your name here...">
        <meta name="description" content="...description of page goes here...">

        <title>Scatter</title>

        <!-- Read in libraries -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="http://d3js.org/d3.v3.min.js"></script>
        
    </head>
    <body>
        <div id="vis"></div>
    </body>

        <script src="js/scatter.js"></script>
</html>
