

body {
  padding:100px;   
  background-color: #222326;  
  background-image: url('Spotify2back.png');
  background-position: center; 
  background-size: contain; 
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#whiteText {
  color: #E1E1E1;
}
.img {
  margin-bottom: 20px;
  padding:0px; 
  text-align:center;
  box-sizing: border-box;
}

img {
  max-height:100%;
  max-width:100%;  
  cursor:pointer;
}
.container-fixed {
  width:90%;
  margin-left:5%;
  text-align:center;
}

.playing {
opacity: 0.5;

}

.tooltip:hover{
  background: green;
}

